@import "tailwindcss";
@plugin "daisyui";




.bg-brand-gradient {
  background-image: linear-gradient(
    to right,
    #fb923c,
    #ec4899,
    #8b5cf6
  );
}

.bg-pink-violet-gradient {
  background: linear-gradient(
    to right,
    #DB2777 50%,
    #EC4899 70%,
    #8B5CF6 120%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

